{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="page-wrapper">
        <header class="header header-2 header-intro-clearance">
            <div class="header-top">
                <div class="container">
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle" style="background: url(../assets/images/1w.jpg); background-size: cover;">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="../index.html" class="logo">
                            <img src="../assets/images/demos/demo-2/logo.png" alt="skyyonliquor Logo" width="105"
                                height="25">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <div
                            class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
                            <a href=".html" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action=".html" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q"
                                        placeholder="Search product ..." required>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>

                    <div class="header-right">
                        <div class="account">
                            <a href="../login.html" title="My account">
                                <div class="icon">
                                    <i class="icon-user"></i>
                                </div>
                                <p>Account</p>
                            </a>
                        </div><!-- End .compare-dropdown -->

                        <div class="cart-dropdown">
                            <a href="#shoppingcart" class="dropdown-toggle" role="button" aria-haspopup="true"
                                aria-expanded="false" data-display="static">
                                <div class="icon">
                                    <i class="icon-shopping-cart"></i>
                                    <span class="cart-count">2</span>
                                </div>
                                <p>Cart</p>
                            </a>
                            <!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <div class="dropdown category-dropdown">
                            <a href=".html" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-display="static"
                                title="Browse Categories">
                                Discover
                            </a>

                            <div class="dropdown-menu">
                                <nav class="side-nav">
                                    <ul class="menu-vertical sf-arrows">
                                        <li><a href="../whisky-section.html">Whiskey</a></li>
                                        <li><a href="../vodka-section.html">Vodka</a></li>
                                        <li><a href="../brandy-section.html">Brandy/Cognacs</a></li>
                                        <li><a href="../gin-section.html">Gin
                                            </a></li>
                                        <li><a href="../Champagne-section.html">Champagne
                                            </a></li>
                                        <li><a href="../wine-section.html">Wines
                                            </a></li>
                                        <li><a href="../liquer-section.html">Liqueur
                                            </a></li>
                                    </ul><!-- End .menu-vertical -->
                                </nav><!-- End .side-nav -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .category-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="active">
                                    <a href="../index.html" id="uppercase">Home</a>
                                </li>
                                <li>
                                    <a href="#" class="sf-with-ul" id="uppercase">Spirit</a>

                                    <div class="megamenu megamenu-sm">
                                        <div class="row no-gutters">
                                            <div class="col-md-6">
                                                <div class="menu-col">
                                                    <!-- End .menu-title -->
                                                    <ul>

                                                        <li><a href="../whisky-section.html">Whiskey
                                                            </a></li>
                                                        <li><a href="../rum-section.html">Rum
                                                            </a></li>
                                                        <li><a href="../vodka-section.html">Vodka
                                                            </a></li>
                                                        <li><a href="../brandy-section.html">Brandy &Cognac
                                                            </a></li>
                                                        <li><a href="../gin-section.html">Gin
                                                            </a></li>
                                                        <li><a href="../liquer-section.html">Liqueur</a></li>
                                                    </ul>
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-6 -->

                                            <div class="col-md-6">
                                                <div class="banner banner-overlay">
                                                    <a href="wine-section.html">
                                                        <div id="carouselExampleSlidesOnly" class="carousel slide"
                                                            data-ride="carousel">
                                                            <div class="carousel-inner">
                                                                <div class="carousel-item active" data-interval="3000">
                                                                    <img class="d-block"
                                                                        src="../assets/images/menu/first.jpg"
                                                                        alt="First slide">
                                                                </div>
                                                                <div class="carousel-item" data-interval="3000">
                                                                    <img class="d-block"
                                                                        src="../assets/images/menu/1.jpg"
                                                                        alt="Second slide">
                                                                </div>
                                                                <div class="carousel-item" data-interval="3000">
                                                                    <img class="d-block"
                                                                        src="../assets/images/menu/2.jpg"
                                                                        alt="Third slide">
                                                                </div>
                                                                <div class="carousel-item" data-interval="3000">
                                                                    <img class="d-block"
                                                                        src="../assets/images/menu/3.jpg"
                                                                        alt="First slide">
                                                                </div>
                                                                <div class="carousel-item" data-interval="3000">
                                                                    <img class="d-block"
                                                                        src="../assets/images/menu/4.jpg"
                                                                        alt="Second slide">
                                                                </div>
                                                                <div class="carousel-item" data-interval="3000">
                                                                    <img class="d-block"
                                                                        src="../assets/images/menu/5.jpg"
                                                                        alt="Third slide">
                                                                </div>
                                                                <div class="carousel-item" data-interval="3000">
                                                                    <img class="d-block"
                                                                        src="../assets/images/menu/6.jpg"
                                                                        alt="Second slide">
                                                                </div>
                                                                <div class="carousel-item" data-interval="3000">
                                                                    <img class="d-block"
                                                                        src="../assets/images/menu/8.jpg"
                                                                        alt="Third slide">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="banner-content banner-content-bottom">
                                                            <div class="banner-title text-white">Raise A
                                                                <br><span><strong>Glass</strong></span>
                                                            </div><!-- End .banner-title -->
                                                        </div><!-- End .banner-content -->
                                                    </a>
                                                </div><!-- End .banner -->
                                            </div><!-- End .col-md-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .megamenu megamenu-sm -->
                                </li>

                                <li>
                                    <a href="../wine-section.html" class="sf-with-ul" id="uppercase">Wine</a>
                                    <div class="megamenu megamenu-md">
                                        <div class="row no-gutters">
                                            <div class="col-md-8">
                                                <div class="menu-col">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="../wine-section.html"
                                                                        style="font-weight: 700; color: #5d4629;">ALL
                                                                        WINES
                                                                    </a></li>
                                                                <li><a href="../Chateau-m.html">Chateau Mouton Roths
                                                                        child
                                                                    </a></li>
                                                                <li><a href="../Chateau-Margaux.html">Chateau Margaux
                                                                    </a></li>
                                                                <li><a href="../wine-section.html">Baron Philippe de
                                                                        Rothschild Mouton Cadet
                                                                    </a></li>
                                                            </ul>


                                                        </div><!-- End .col-md-6 -->

                                                        <div class="col-md-6">
                                                            <!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="../champagne-section.html"
                                                                        style="font-weight: 700; color: #5d4629;">ALL
                                                                        CHAMPAGNE
                                                                    </a></li>
                                                                <li><a href="../Champagne-section.html">Dom perignon
                                                                    </a></li>
                                                                <li><a href="../Champagne-section.html">Moet Imperial</a>
                                                                </li>

                                                                <li><a href="../Champagne-section.html">Moet Nectar Imperial Rose</a>
                                                                </li>

                                                                <li><a href="../Champagne-section.html">Moet Imperial Rose</a>
                                                                </li>
                                                                <li><a href="../Champagne-section.html">Veuve Clicquot Rose Demi Sec</a>
                                                                </li>
                                                            </ul>
                                                            <!-- End .menu-title -->
                                                            <!-- <ul>
                                              
                                                            <!-- End .col-md-6 -->
                                                        </div><!-- End .row -->
                                                    </div><!-- End .menu-col -->
                                                </div><!-- End .col-md-8 -->
                                            </div><!-- End .row -->

                                            <div class="col-md-4">
                                                <div class="banner banner-overlay">
                                                    <a href="../wine-section.html" class="banner banner-menu">
                                                        <div id="carouselExampleSlidesOnly" class="carousel slide"
                                                            data-ride="carousel">
                                                            <div class="carousel-inner">
                                                                <div class="carousel-item active">
                                                                    <img class="d-block"
                                                                        src="../assets/images/menu/banner-3.jpg"
                                                                        alt="First slide">
                                                                </div>
                                                                <div class="carousel-item">
                                                                    <img class="d-block"
                                                                        src="../assets/images/menu/banner-1.jpg"
                                                                        alt="Second slide">
                                                                </div>
                                                                <div class="carousel-item">
                                                                    <img class="d-block"
                                                                        src="../assets/images/menu/banner-4.jpg"
                                                                        alt="Third slide">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="banner-content banner-content-top">
                                                            <div class="banner-title text-white">SkyyLiquor
                                                                <span><strong>Liquor</strong></span>
                                                            </div>
                                                            <!-- End .banner-title -->
                                                        </div><!-- End .banner-content -->
                                                    </a>
                                                </div><!-- End .banner banner-overlay -->
                                            </div><!-- End .col-md-4 -->
                                        </div><!-- End .megamenu megamenu-md -->
                                    </div>
                                </li>
                                <li>
                                    <a href="../clase-azul.html" class="" id="uppercase">Clase Azul</a>
                                </li>
                                <li>
                                    <a href="../coming-soon.html" class="" id="uppercase">barware</a>
                                </li>
                                <!-- blog ul and can be used of another ul section -->

                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-center -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href=".html">Links</a>
                                <ul>

                                    <li>
                                        <div class="header-dropdown">
                                            <select class="form-select" aria-label="Default select example"
                                                id="formSelect">
                                                <option selected>USD</option>
                                                <option value="1">Euro</option>
                                            </select>
                                        </div><!-- End .header-menu -->
                                    </li>
                                    <li>
                                        <div class="header-dropdown">
                                            <select class="form-select" aria-label="Default select example"
                                                id="formSelect">
                                                <option selected>ENGLISH</option>
                                                <option value="1">French</option>
                                                <option value="2">Spanish</option>
                                            </select>
                                        </div><!-- End .header-menu -->
                                    </li>
                                    <li>
                                        <div class="header-dropdown">
                                            <select class="form-select" aria-label="Default select example"
                                                id="formSelect">
                                                <option selected>SHIP TO</option>
                                                <option value="1">GH</option>
                                                <option value="2">NG</option>
                                                <option value="4">SA</option>
                                                <option value="5">UK</option>
                                                <option value="6">AU</option>
                                            </select>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header>


        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="vodka-section.html">Brandy & Cognac</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Martell VS</li>
                    </ol>

                    <nav class="product-pager ml-auto" aria-label="Product">
                        <a class="product-pager-link product-pager-prev" href="../brand-drink-desc/courvoisier-xo.html" aria-label="Previous"
                            tabindex="-1">
                            <i class="icon-angle-left"></i>
                            <span>Prev</span>
                        </a>

                        <a class="product-pager-link product-pager-next" href="../hennesy-vsop-desc.html" aria-label="Next"
                            tabindex="-1">
                            <span>Next</span>
                            <i class="icon-angle-right"></i>
                        </a>
                    </nav><!-- End .pager-nav -->
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">

                                    <figure class="product-main-image">
                                        <img src="../assets/images/demos/demo-2/ourdrink/martell-VS.jpg">
                                    </figure><!-- End .product-main-image -->
                                    <!-- End .product-image-gallery -->
                                    <!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title">Martell VS</h1>
                                    <!-- End .product-title -->

                                    <div class="product-price">
                                        $00.00
                                    </div><!-- End .product-price -->

                                    <div class="details-filter-row details-row-size">
                                        <label for="qty">Qty:</label>
                                        <div class="product-details-quantity">
                                            <input type="number" id="qty" class="form-control" value="1" min="1"
                                                max="10" step="1" data-decimals="0" required>
                                        </div><!-- End .product-details-quantity -->
                                    </div><!-- End .details-filter-row -->

                                    <div class="product-details-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        <!-- End .details-action-wrapper -->
                                    </div>

                                    <hr>

                                    <div class="product-details-tab">
                                        <ul class="nav nav-pills justify-content-center" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="product-desc-link" data-toggle="tab"
                                                    href="#product-desc-tab" role="tab" aria-controls="product-desc-tab"
                                                    aria-selected="true">Description</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="product-shipping-link" data-toggle="tab"
                                                    href="#product-shipping-tab" role="tab"
                                                    aria-controls="product-shipping-tab" aria-selected="false">Shipping
                                                     </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                                                aria-labelledby="product-desc-link">
                                                <div class="product-desc-content">
                                                    <p>Among the great cognac houses, only Martell distills exclusively wines that have been cleared of all sediments, revealing the luscious fruit aromas and finesse that are our hallmarks. Each bottle is sourced from one of our carefully selected partner distilleries in the Cognac region.

                                                        A single distillation source for a richer and more intense expression of the Martell distillation style.
                                                        </p>
                                                        <p>Bottle Size: 1 Litre</p>
                                                        <p>Please Drink Responsibly.</p>
                                                </div><!-- End .product-desc-content -->
                                            </div><!-- .End .tab-pane -->
                                            <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel"
                                                aria-labelledby="product-shipping-link">
                                                <div class="product-desc-content">
                                                    <h3>Delivery</h3>
                                                    <p>We deliver to over 100 countries around the world. For full
                                                        details of the
                                                        delivery options we offer, please view our <a href="#">Delivery
                                                            information</a></p>
                                                </div><!-- End .product-desc-content -->
                                            </div><!-- .End .tab-pane -->
                                            <!-- .End .tab-pane -->
                                        </div><!-- End .tab-content -->
                                    </div><!-- End .product-details-tab -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

{% endblock %}        