{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="page-wrapper">
	<main class="main">
		<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Pages</a></li>
					<li class="breadcrumb-item active" aria-current="page">Login</li>
				</ol>
			</div><!-- End .container -->
		</nav><!-- End .breadcrumb-nav -->

		<div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
			style="background-image: url('assets/images/backgrounds/NEW-TRY-BG.jpg')">
			<div class="container">

				
				<div class="form-box">
					<div class="form-tab">
						
						<div class="tab-content">
							<div class="tab-pane fade" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2"
								itemid="signin">
								<form method="post" class="from-group" action="">
									{% csrf_token %}
									{{form|crispy}}
									<p>Don't have an accoount? Create one <a href="/register">here</a></p>
									<button type="submit" class="btn btn-success">Login</button>	
									</form>
							</div><!-- .End .tab-pane -->
			

   
{% endblock %}