<!DOCTYPE html>
<html lang="en">


<!-- molla/login.html  22 Nov 2019 10:04:03 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>skyyonliquor - Liquor Shop</title>
    <meta name="keywords" content="drink , Liquor, wine">
    <meta name="description" content="we are selling sweet wines">
    <meta name="author" content="skyyonliquor - Liquor shop">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color=".html666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="skyyonliquor">
    <meta name="application-name" content="skyyonliquor">
    <meta name="msapplication-TileColor" content=".htmlcc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content=".htmlffffff">
    <link rel="stylesheet" href="assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css?v=12345678"">
    <link rel="stylesheet" href="assets/css/skins/skin-demo-2.css?v=12345678"">
    <link rel="stylesheet" href="assets/css/demos/demo-2.css?v=12345678"">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

</head>


<body>

    <div class="page-wrapper">

        <main class="main">

            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
                style="background-image: url('assets/images/backgrounds/Azul-BG.jpg'); background-size: cover; height: 100vh;">
                <div class="container">

                    <div class="another-coming-soon text-center banner-content">
                        <div class="azul">

                            <div class="azul-append mt-3">
                                <img src="assets/images/azul-logo/Square.png" class="azul-logo" alt="logo">

                                <img src="assets/images/azul-logo/Azul-text.png" class="azul-text " alt="logo">
                            </div>
                            <p class="mt-1 mb-1" id="azul-text">Coming Soon On
                                SKYYONLIQUOR </Canvas></p>
                        </div>

                        <a href="index.html"><button class="btn btn-primary ageinputbtn col-sm-8 mb-4"
                                style="width: 100%; text-transform: uppercase;font-family: 'montserrat';">
                                Continue browsing our site
                            </button></a>



                    </div><!-- End .form-box -->
                </div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->

    </div><!-- End .page-wrapper -->

    <!-- Mobile Menu -->


    <!-- Plugins JS File -->
    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.plugin.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/demos/demo-2.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script>
        AOS.init();
    </script>
</body>


<!-- molla/login.html  22 Nov 2019 10:04:03 GMT -->

</html>